################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/coreapi/finapps.coreapi/.vs/finapps.coreapi/v15
